@import 'base/variables';
@import 'base/fonts';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/caruosel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';

*{
    font-family: 'MuseoModerno', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 0;
}
@import 'base/media';